:root {
    --LAYOUT_COLOR: white;
    --SERVICE_LAYOUT_COLOR: white;
    --HEAD_HEIGHT: 80px;
    --FOOTER_HEIGHT: 70px;
    --LAYOUT_HEIGHT: calc(100vh - var(--HEAD_HEIGHT) - var(--FOOTER_HEIGHT));
    --LEFT_MENU_WIDTH: 277px;
    --LEFT_MENU_COLLAPSED_WIDTH: 80px;
    --LEFT_MENU_HEGHT: calc(100vh - var(--HEAD_HEIGHT));
    --TEXT_HIGHLIGHT_COLOR: #007112;
    --BASE_FONT: 'Roboto';
    --BORDER_SHADOW: 0px 2px 7px rgba(0, 0, 0, 0.25);
    --BORDER_SHADOW_MENU: 7px 0px 7px -7px rgba(221, 221, 221, 1);
    --MARGIN_MAIN: 0 0 0 35px;
    --PADDING_TOP: 16px;
    --PADDING_RIGHT: 24px;
    --PADDING_BOTTOM: 16px;
    --PADDING_LEFT: 35px;
    --PADDING_MAIN: var(--PADDING_TOP) var(--PADDING_RIGHT)
        var(--PADDING_BOTTOM) var(--PADDING_LEFT);
    --COLOR_GREEN_BUTTON: #19bb4f;
    --COLOR_PRIMARY_BUTTON: #25a4ff;
    --COLOR_RED_BUTTON: #dc4b3e;
    --COLOR_SELECTED_ITEMS: #ff8e3d;
    --PAGE_HEAD_HEIGHT: 57px;
    --COLLAPSE_HEAD_HEIGHT: 56px;
    --CONTENT_WITHOUT_HEAD_HEIGHT: calc(
        100vh - var(--HEAD_HEIGHT) - var(--FOOTER_HEIGHT) -
            var(--PAGE_HEAD_HEIGHT) - var(--PADDING_TOP) - var(--PADDING_BOTTOM)
    );
}

header,
body,
footer {
    font-family: var(--var-main-font), sans-serif;
    padding: 3px;
    margin: 3px;
}

/* html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    font-family: var(--var-main-font), sans-serif;
}

header {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    font-family: var(--var-main-font), sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
} */
